<div class="tweet">
  <form method="post" action="/tweets">
    <span class='created'><%= created %></span>
    <% if (created) { %>
    <a href='#' class='destroy icon-trash' title='Delete'></a>
    <% } %>
    <textarea name="tweet" rows="3" cols="40" placeholder="Draft a tweet"><%= text %></textarea>
    <div class="container">
      <div class="counter">140</div>
      <div class="buttons">
      <% if (created) { %>
        <button class="stash">Stash it</button>
        <button class="post">Tweet now</button>
      <% } else { %>
        <button disabled class="stash">Stash it</button>
        <button disabled class="post">Tweet now</button>
      <% } %>
      </div>
    </div>
  </form>
</div>
