<div class="tweet">
  <form method="post" action="/stash">
    <textarea name="tweet" rows="3" cols="40" placeholder="Draft a tweet"></textarea>
    <div class="container">
      <div class="counter">140</div>
      <div class="buttons">
        <button class="stash">Stash it</button>
        <button disabled class="post">Tweet now</button>
      </div>
    </div>
  </form>
</div>
