<header class='wide'>
  <h1><a href='/'>TweetStasher</a></h1>
</header>
<div class='wide'>
  <h2>About This Site</h2>
  <section>
  <p>Stash off tweets to post later. Nothing more, nothing less.</p>
  </section>
  <section>
    <h3>Privacy</h3>
    <p>Your Twitter account is used for authentication and to post tweets when you choose to post tweets. Twitter never transmits your password. Your stashed tweets are never auto-posted.</p>
    <p>You own your tweets. Your tweets, user info, and social graph are never logged or mined for data.</p>
    <p>A browser cookie is used to keep you logged-in for repeated visits to the site. You can sign out at any time and browser cookies can be deleted.</p>
  </section>
  <section>
    <h3>Source Code</h3>
    <p>This project is available on <a href="https://github.com/BrettBukowski/tweetstasher">Github</a>.</p>
  </section>
  <div class='center small'>© Brett Bukowski</div>
</div>