<%- partial('partials/clouds') %>

<header class='home'>
  <h1>TweetStasher</h1>

  <div class='go'>
    <p class="copy">Save off tweets <i>now</i> to post <i>later</i></p>
    <form action="/auth/twitter">
      <input type="submit" id="start" value="Start Stashing!">
    </form>
  </div>
</header>

<section class='feature-clouds'>
  <div>Got something to say but it's not the right time.</div>
  <div>Stash it!</div>
  <div>Access stashed tweets later on your computer or phone.</div>
  <div>We never robo-post. <i>You</i> Tweet when <i>you</i> want to.</div>
</section>