<!DOCTYPE html>
<html lang="en_US">
  <head>
  <%- partial('partials/head') %>
  </head>
  <body class='general <%= route %>'>
    <div class='contain'>
      <div id='content'><%- body %></div>
      <%- partial('partials/footer') %>
    </div>
  </body>
</html>