<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf8">
    <title>TweetStasher</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body class='user'>
    <header>
      <h1>TweetStasher</h1>
      <div id="user">
        <a href="https://twitter.com/<%= user.screenName %>"><%= user.name %></a> <img src='<%= user.profilePic %>' alt='profile pic'/>
      </div>
    </header>
    <section class="center">
    <%- body %>
    </section>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
